table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: rgb(192, 209, 248);
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

td {
  text-align: center;
}

/* .btn-right {
  text-align: right;
} */
body {
  text-align: center;
}

.inner-container {
  margin: 10px;
}

.outer-container {
  border: 1px solid black;
  max-width: 1000px;
  min-width: 700px;
  display: inline-block;
}

.float-right {
  float: right;
}
