table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: rgb(192, 209, 248);
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

td {
  text-align: center;
}

/* .btn-right {
  text-align: right;
} */
